$color-brand: #ffa200;
$color-first-mode: #ffcc73;
$color-second-mode: #006b59;
$color-first-text: #a52a2a;
$color-second-text: #ffcc73;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 414px;
